apiVersion: v1
kind: Namespace
metadata:
  name: demo
  labels:
    istio-injection: enabled
    monitoring: enabled
---
apiVersion: v1
kind: Namespace
metadata:
  name: cloudsentinel
  labels:
    monitoring: enabled
